{:deps {:aliases [:cljs]}

 :dev-http {8080 "public"}

 :builds
 {:client
  {:target   :browser
   :modules  {:main {:init-fn pulse.app/init}}
   :devtools {:preloads      []
              :repl-pprint   false}}}}
