{:hello
 {:en "Hello"
  :es "Hola"
  :de "Hallo"}
 :map
 {:en "Map"
  :es "Mapa"
  :de "Karte"}
 :library
 {:en "Library"
  :es "Biblioteca"
  :de "Bibliothek"}
 :home
 {:en "Home"
  :es "Casa"
  :de "Heim"}}
